@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/*----------------------------------GLOBAL-----------------------------------*/
h1,
h2,
p {
  font-family: sans-serif;
  text-align: center;
  color: #333333;
}
 h1 {
  font-family: 'Source Sans Pro', sans-serif;
 }
  
 body{
  font-family: 'Open Sans', sans-serif;
 }
 p, h2 {
   line-height: 1.35em;
 }

 footer p{
  font-family: 'Roboto', sans-serif;
 }
hr {
  width: 80%;
  border: 1px solid #000000;
}

/*----------------------------------CONTAINER HEADER-----------------------------------*/
.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-header div {
  height: 200px;
  width: 500px;
}
/*-------------------------------------------------------------------------------------*/
/*----------------------------------CONTAINER NAVBAR-----------------------------------*/
.container-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid black;
}
.container-navbar li {
  list-style-type: none;
  margin-right: 20px;
}
.container-navbar li a {
  text-decoration: none;
  color: #000000;
  font-family: sans-serif;
  font-weight: bold;
}
/*-------------------------------------------------------------------------------------*/
/*----------------------------------CONTAINER HOME-----------------------------------*/
/*----------------------------------CONTAINER HOME INTRO-----------------------------------*/
.container-home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.container-home-intro img {
  width: 250px;
}

.container-home-intro h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.container-home-intro p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
/*-------------------------------------------------------------------------------------*/
/*----------------------------------CONTAINER HOME CARDS-----------------------------------*/
.container-home-cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  border: 1px solid #000000;
  margin: 20px;
  border-radius: 25px;

  transition: 1s ease;
  cursor: pointer;
}

.home-card:hover {
  transform: scale(1.1);
}

.home-card img {
  margin-top: 40px;
}
.home-card h2 {
  padding: 5px;
  padding-bottom: 0px;
  font-size: 24px;
  text-align: center;
}
.home-card p {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.line-break {
  width: 100%;
}

/*-------------------------------------------------------------------------------------*/
/*------------------------------------------ENTREVISTAS------------------------------------------*/
.container-entrevistas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.container-entrevistas h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
}

.container-entrevistas p {
  width: 500px;
  font-size: 20px;
  margin-top: 40px;
}
/*------------------------------------------CONTAINER HEADER ENTREVISTAS------------------------------------------*/
.container-entrevistas-header {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.container-entrevistas-header img {
  width: 150px;
  border-radius: 50%;
  margin-right: -20px;
}

/*------------------------------------------CARD ENTREVISTAS------------------------------------------*/
.card-entrevista-esquerda {
  display: flex;
  width: 559px;
  height: 150px;
  border: 1px solid #000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.card-entrevista-direita {
  display: flex;
  width: 559px;
  height: 150px;
  border: 1px solid #000;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card-entrevista-esquerda img {
  width: 150px;
  border-radius: 50%;
}

.card-entrevista-direita img {
  width: 150px;
  border-radius: 50%;
}

/*-------------------------------------------------------------------------------------*/
/*------------------------------------------CONTAINER LINHA DO TEMPO------------------------------------------*/
.container-linha-do-tempo {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}

.linha-do-tempo-header h1 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 25px;
}

.linha-do-tempo-header h2 {
  margin: 0 600px;
  color: #333333;
  margin-bottom: 100px;
}
.container-acontecimento {
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
}
.container-card-acontecimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 350px;
  border: 1px solid #000000;
}
.container-card-acontecimento h1 {
  font-weight: bold;
  margin: 10px 0;
}

.container-card-acontecimento h2 {
  margin-bottom: 50px;
}
.container-card-acontecimento button {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid #000000;
  cursor: pointer;
}
.ruler-acontecimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10px;
}
.linha-acontecimento {
  width: 10px;
}
.circle-acontecimento {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}
.ano-acontecimento {
  width: 400px;
}
.ano-acontecimento div {
  font-family: sans-serif;
  font-size: 125px;
  font-weight: bold;
  margin-top: 100px;
  padding: 0 49px;
}
/*-------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------CURIOSIDADES--------------------------------------------------------- */

#card2 {
  display: none;
}
#card3 {
  display: none;
}


.container-curiosidades {
  display: flex;
  flex-direction: column;
  margin: 100px 300px;
}
.container-curiosidades h1 {
  font-weight: bold;
  font-size: x-large;
  margin: 10px;
}
.container-curiosidades h2 {
  margin: 0 300px;
}
.container-card-curiosidades {
  display: flex;
  align-items: center;
}
.card-curiosidades {
  display: flex;
  justify-content: center;
  padding: 50px 25px;
  margin: 100px;
  border: 1px solid #000000;
  border-radius: 25px;
}
.card-curiosidades img {
  width: 100px;
}
.curiosidades-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.curiosidades-card-content button {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #000000;
  cursor: pointer;
}
/*-------------------------------------------------------------------------------------*/
/*------------------------------------------CONTAINER FORMULARIO------------------------------------------*/
.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}

.container-form h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.container-form p {
  font-size: 16px;
  text-align: center;
  width: 500px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  padding: 10px;
  margin: 10px;
}

.formulario button {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-left: 150px;
}
/*-------------------------------------------------------------------------------------*/

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  width: 500px;
  color: #9e9e9e;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content button {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #000000;
  cursor: pointer;
}

.titulo-popup {
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
  margin: 24px 0;
}

.subtitulo-popup {
  font-size: medium;
  font-family: sans-serif;
  margin: 24px 0;
}

@media screen and (max-width: 1400px) {
  .linha-do-tempo-header h2 {
    margin: 0 300px;
    margin-bottom: 100px;
  }
  .container-acontecimento {
    margin: 0 100px;
  }

  .container-curiosidades {
    display: flex;
    flex-direction: column;
    margin: 100px;
  }
  .container-curiosidades h1 {
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
  }
  .container-curiosidades h2 {
    margin: 0 200px;
  }
  .container-card-curiosidades {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-curiosidades {
    display: flex;
    justify-content: center;
    padding: 50px 25px;
    margin: 100px;
    border: 1px solid #000000;
    border-radius: 25px;
  }
  .curiosidades-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .curiosidades-card-content button {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #000000;
    cursor: pointer;
  }
}
