/*----------------------------------GLOBAL-----------------------------------*/
h1,
h2,
p {
  font-family: sans-serif;
  text-align: center;
  color: #333333;
}

hr {
  width: 80%;
  border: 1px solid #000000;
}

/*----------------------------------CONTAINER HEADER-----------------------------------*/
.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-header div {
  height: 200px;
  width: 500px;
}
/*-------------------------------------------------------------------------------------*/
/*----------------------------------CONTAINER NAVBAR-----------------------------------*/
.container-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid black;
}
.container-navbar p {
  margin-right: 20px;
  cursor: pointer;
}
/*-------------------------------------------------------------------------------------*/
/*----------------------------------CONTAINER HOME-----------------------------------*/
/*----------------------------------CONTAINER HOME INTRO-----------------------------------*/
.container-home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.container-home-intro img {
  width: 250px;
}

.container-home-intro h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.container-home-intro p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
/*-------------------------------------------------------------------------------------*/
/*----------------------------------CONTAINER HOME CARDS-----------------------------------*/
.container-home-cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 465px;
  border: 1px solid #000000;
  margin: 20px;
  border-radius: 8%;

  transition: 1s ease;
  cursor: pointer;
}

.home-card:hover {
  transform: scale(1.1);
}

.home-card img {
  margin-top: 40px;
}
.home-card h2 {
  padding: 5px;
  padding-bottom: 0px;
  font-size: 24px;
  text-align: center;
}
.home-card p {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.line-break {
  width: 100%;
}

/*-------------------------------------------------------------------------------------*/
/*------------------------------------------ENTREVISTAS------------------------------------------*/
.container-entrevistas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.container-entrevistas h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
}

.container-entrevistas p {
  width: 500px;
  font-size: 20px;
  margin-top: 40px;
}
/*------------------------------------------CONTAINER HEADER ENTREVISTAS------------------------------------------*/
.container-entrevistas-header {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.container-entrevistas-header img {
  width: 150px;
  border-radius: 50%;
  margin-right: -20px;
}

/*------------------------------------------CARD ENTREVISTAS------------------------------------------*/
.card-entrevista-esquerda {
  display: flex;
  width: 559px;
  height: 150px;
  border: 1px solid #000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 50px;
}
.card-entrevista-direita {
  display: flex;
  width: 559px;
  height: 150px;
  border: 1px solid #000;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 50px;
}

.card-entrevista-esquerda img {
  width: 150px;
  border-radius: 50%;
}

.card-entrevista-direita img {
  width: 150px;
  border-radius: 50%;
}
/*-------------------------------------------------------------------------------------*/
/*------------------------------------------CONTAINER LINHA DO TEMPO------------------------------------------*/
.container-linha-do-tempo {
  display: flex;
  flex-direction: column;
}
/*-------------------------------------------------------------------------------------*/
/*------------------------------------------CONTAINER FORMULARIO------------------------------------------*/
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.container-form h2{
  font-size:40px;
  font-weight: bold;
  text-align: center;
}

.container-form p{
    font-size:16px;
    text-align: center;
    width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    }

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
   padding: 10px;
   margin: 10px;
}

.formulario button {
    padding: 10px;
    margin: 10x;
    background: white;
     }
/*-------------------------------------------------------------------------------------*/

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.footer  p {
    width: 500px;
    color: #9E9E9E;
    font-size: 12px;
    text-align: center; 	
    padding: 5px;
  
}
